<html>
<head>

<div class="w3-container w3-gray">
  <center>
<img src="https://www.uni-koblenz-landau.de/de/koblenz/fb3/ifin/geographie/forschung/gislabor/UniLogoKoblenz.jpg"  width="200"
         height="80">
</center>
<title>Paragraph Parser</title>


 <center>
 <div class="container">
  
  <h1 style="background-color:DodgerBlue;">Paragraph Segmentation</h1>
  

   <form method="POST" action="/upload" enctype="multipart/form-data">
   <div class="form-group">
     <label for"inputFile">Upload pdf file</label>
     <input type="file" name="inputFile" >
   
   </div><br>

     <button type="submit" class="btn btn-primary btn-block btn-large">submit</button>
     </form>
</center>

</div>

</head>
</html>
